<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.atelier.mapper.OrderMapper">


    <select id="getProductInfo" resultType="com.example.atelier.domain.Product">
        SELECT * FROM t_products where pid=#{pid};
    </select>
    <select id="getUserInfo" resultType="com.example.atelier.domain.Member">
        SELECT * FROM t_members where uid=#{uid};
    </select>

    <insert id="orderInput" parameterType="com.example.atelier.domain.Order">
        INSERT INTO
            t_orders(pid,uid,order_price,order_address,order_state)
        VALUES
            (#{pid},#{uid},#{orderPrice},#{orderAddress},#{orderState});

    </insert>
    <select id="orderList" resultType="com.example.atelier.domain.Order">
        SELECT * from t_orders;
    </select>

</mapper>