<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.atelier.mapper.AdminMapper">

    <select id="orderList" resultMap="Order">
        SELECT * FROM t_orders WHERE order_state = '입금대기';
    </select>

    <update id="updateOrderState">
        UPDATE t_orders SET order_state='입금확인'
        WHERE ono IN
        <foreach collection ="list" item="ono" open="(" separator="," close=")">
        #{ono}
        </foreach>
    </update>

    <resultMap id="Order" type="map">
        <result property="ono" column="ono"/>
        <result property="uid" column="uid"/>
        <result property="pid" column="pid"/>
        <result property="orderState" column="order_state"/>
    </resultMap>
</mapper>