<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.atelier.mapper.OrderMapper">

    <select id="getBoolean" resultType="boolean">
        SELECT * FROM t_orders WHERE uid=#{uid} AND pid =#{pid};
    </select>

    <select id="getProductInfo" resultMap="Product">
        SELECT * FROM t_products where pid IN
        <foreach collection="list" item="pid" open="(" separator="," close=")">
            #{pid}
        </foreach>

    </select>
    <select id="getUserInfo" resultType="com.example.atelier.domain.Member">
        SELECT * FROM t_members where uid=#{uid};
    </select>

    <insert id="orderInput" parameterType="com.example.atelier.domain.Order">
        INSERT INTO
            t_orders(pid,uid,order_price,order_address,order_state)
        VALUES
            (#{pid},#{uid},#{orderPrice},#{orderAddress},'입금대기');

    </insert>

    <update id="updatePoint">
        UPDATE t_members SET point = #{point} where uid=#{uid};
    </update>

    <delete id="deleteCart">
        DELETE FROM t_carts WHERE pid=#{pid} AND uid=#{uid};
    </delete>

    <delete id="deleteOrder">
        DELETE FROM t_orders WHERE ono=#{ono};
    </delete>

    <resultMap id="Product" type="com.example.atelier.domain.Product">
        <result property="pid" column="pid"/>
        <result property="productPrice" column="product_price"/>
        <result property="productUrl" column="product_url"/>
        <result property="productTitle" column="product_title"/>
        <result property="productType" column="product_type"/>
        <result property="productContent" column="product_content"/>
    </resultMap>

</mapper>