<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.atelier.mapper.ReviewMapper">

    <select id="selectReviewList" parameterType="Long" resultMap="Review">
        SELECT
        *
        FROM t_reviews where pid=#{pid};
    </select>

    <insert id="insertReview" parameterType="com.example.atelier.domain.Review">
        <selectKey keyProperty="rno" order="BEFORE"
                   resultType="Long">
            SELECT (MAX(rno) + 1) AS rno FROM t_reviews
        </selectKey>
        INSERT INTO t_reviews SELECT #{rno}, #{content},#{pid}, #{uid}
        FROM dual WHERE exists
        (SELECT * FROM t_orders WHERE uid=#{uid} AND pid=#{pid})
    </insert>

    <delete id="deleteReview" parameterType="Long">
        DELETE FROM t_reviews where rno=#{rno};
    </delete>


    <resultMap id="Review" type="map">
        <result property="uid" column="uid"/>
        <result property="pid" column="pid"/>
        <result property="rno" column="rno"/>
        <result property="content" column="content"/>
    </resultMap>


</mapper>