<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">
        <div class="container">

            <p>장바구니 상품 </p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>체크</th>
                    <th>상품명</th>
                    <th>판매가</th>
                    <th>수량</th>
                    <th>주문금액</th>
                    <th>주문관리</th>
                    <th>배송</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartList : ${bucketList}">
                    <td><input type="checkbox" checked="true"></td>
                    <td><img th:src="@{'/img/' + ${cartList.bucketUrl}}" width="200" height="200"></td>
                    <td>[[${cartList.totalPrice}]]</td>
                    <td>[[${cartList.quantity}]]</td>
                    <td>[[${cartList.totalPrice}]]</td>
                    <td>택배배송<br>무료배송</td>
                </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>
<script th:inline="javascript">


</script>
</body>

</html>