<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">
        <div class="container">

            <p>장바구니 상품 </p>
            <ul th:each="bucketList:${bucketList}">
                <li>            <img th:src="@{'/img/' + ${bucketList.bucketUrl}}" width="400" height="200">
                </li>

            </ul>

            <input type="radio" value="5" name="ab">dd
            <input type="radio" value="10" name="ba">gg


        </div>
    </div>
</div>
<script th:inline="javascript">


</script>
</body>

</html>