<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">

            <p style="display: inline; font-size: 15pt"><b>Order / Payment</b></p>
            <p style="display: inline; font-size: 8pt; color: #888888">주문 / 결제</p>
            <hr>

            <p style="display: inline; font-size: 15pt"><b>Recipient Info</b></p>
            <p style="display: inline; font-size: 8pt; color: #888888"> 수령자 정보</p> [[${buyer.uid}]]
            <form th:action="@{order}" method="post" style="position: absolute; width: 98%;">

                <table class="table table-hover">
                    <tr>
                        <td>배송지 선택</td>
                        <td>
                            <input type="checkbox">최근 배송지
                            <input type="checkbox" checked="checked">기본 배송지
                        </td>
                    </tr>
                    <tr>
                        <td>수령인 / 배송지명</td>
                        <td><input type="text" th:value="${buyer.uname}"></td>
                    </tr>
                    <tr>
                        <td>휴대전화</td>
                        <td>
                            <select>
                                <option>010</option>
                                <option>011</option>
                            </select> - <input type="text"> - <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td>
                            <select>
                                <option>010</option>
                                <option>011</option>
                            </select> - <input type="text"> - <input type="text"> <input type="checkbox" id="phoneCheck">없음
                        </td>
                    </tr>
                    <tr>
                        <td>배송지 주소</td>
                        <td><input type="text" name="orderAddress" th:value="${buyer.address}"></td>
                    </tr>
                    <tr>
                        <td>배송 메모</td>
                        <td>
                            <textarea rows="2" cols="70"></textarea>
                            <br><b>택배기사님에게 남길 메시지를 작성해주세요.</b>

                        </td>
                    </tr>
                </table>


                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>상품</th>
                        <th>상품명</th>
                        <th>상품가격</th>
                        <th>상품타입</th>
                        <th>결제금액</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="productList, c : ${productInfo}">
                        <td><img th:src="@{'/img/'+${productList.productUrl}}" width="300" height="200"></td>
                        <td>[[${productList.productTitle}]]</td>
                        <td>[[${productList.productPrice}]]</td>
                        <td>[[${productList.productType}]]</td>
                        <td>[[${productList.productPrice}]]</td>
                    </tr>
                    </tbody>
                </table>
                <input th:each="productInfo: ${productInfo}"  type="hidden" name="orderPrice2" th:value="${productInfo.productPrice}">
                <input th:each="productInfo: ${productInfo}"  type="hidden" name="oid" th:value="${productInfo.pid}">
                <input type="hidden" name="uid" th:value="${buyer.uid}">
                <button class="btn btn-outline-primary btn-sm" type="submit" style="float: right">구매!</button>
            </form>
        <div style="display: inline-block; position: absolute; margin-left: 1050px;">
            <p style="display: inline; font-size: 15pt"><b>Buyer Info</b></p>
            <p style="display: inline; font-size: 8pt; color: #888888"> 구매자 정보</p><br>
            <table class="table table-borderless" style="width: 220px; height: 120px" >
                <tr>
                    <td style="width: 98px">아이디 : </td>
                    <td>[[${buyer.uid}]]</td>
                </tr>
                <tr>
                    <td>구매자 : </td>
                    <td>[[${buyer.uname}]]</td>
                </tr>
                <tr>
                    <td>전화번호 : </td>
                    <td>[[${buyer.call}]]</td>
                </tr>
            </table>
        </div>

    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline=javascript>
        $(document).on("ready",function (e) {
            $(document).on('click','#phoneCheck',function (e) {
                $(this).prev().attr('readonly','true');
                $(this).prev().prev().attr('readonly','true');
            })
        })
    </script>
</th:block>
</body>

</html>